.projects-section {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
  h2 {
    margin-bottom: 5rem;
    font-size: max(2vw, 2em);
  }
}

.project-list {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  flex-wrap: wrap;
  gap: 3rem;

  @media screen and (max-width: 530px) {
    margin: 2rem;
  }
}

.project {
  // z-index: auto;
  display: flex;
  max-width: 550px;
  // flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 2rem;
  min-width: 300px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 2;
  width: 22%;
  max-height: 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #575353,
    5px 14px 0px 50px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #615f5f, 5px 14px 0px 50px rgba(73, 71, 71, 0);
  &:hover {
    transform: scale(1.05);
    transition: 600ms;
  }
  &:hover .display {
    opacity: 1;
    transition: 600ms;
  }
  &:hover p {
    opacity: 0;
  }
  &:hover .technos-used {
    display: none;
  }
  &:hover .logo-title {
    display: flex;
  }
  &:hover .logo-title-2 {
    display: none;
  }
  &:hover .title-text {
    display: none;
  }

  &:hover .responsive {
    display: none;
  }
}

.display {
  object-fit: cover;
  border-radius: inherit;
  // min-height: 100%;
  height: 300px;
  opacity: 0.2;
  width: 100%;
  // max-width: 100%;
  min-width: 100%;
}

.project-title {
  position: relative;
  bottom: 85%;
  padding: 0 1.8rem;
  color: rgb(71, 68, 68);
  max-height: 0px;
}

.title-text {
  font-size: 30px;
}

.responsive {
  width: 50px;
  position: absolute;
  display: inline;
  right: 20px;
  top: -25px;
  bottom: 40px;
  opacity: 1;
}

.logo-title,
.logo-title-2 {
  max-width: 230px;
}

.logo-title {
  opacity: 1;
  margin: auto;
  display: none;
}

.logo-title-2 {
  opacity: 0.7;
}

.technos-used {
  font-size: 30px;
  color: rgb(11, 173, 157);
}

.website-link {
  text-decoration: none;
  height: 300px;
  border-radius: inherit;
}
