.projects-section {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
  h2 {
    margin-bottom: 5rem;
    font-size: 50px;
  }
}

.project-list {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.project {
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 2rem;
  width: 30%;
  max-height: 100%;
  @media screen and (max-width: 1119px) {
    width: 40%;
    max-height: 299px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    max-height: 299px;
  }
  //   box-shadow: 1px 8px 21px 4px rgba(118, 110, 110, 0.34);
  //   -webkit-box-shadow: 1px 8px 21px 4px rgba(118, 110, 110, 0.34);
  //   -moz-box-shadow: 1px 8px 21px 4px rgba(118, 110, 110, 0.34);
  &:hover + .display {
    opacity: 1;
  }
  &:hover {
    box-shadow: 1px 8px 21px 4px rgba(11, 173, 157, 0.34);
    -webkit-box-shadow: 1px 8px 21px 4px rgba(11, 173, 157, 0.34);
    -moz-box-shadow: 1px 8px 21px 4px rgba(11, 173, 157, 0.34);
    // box-shadow: 1px 8px 21px 4px rgba(255, 192, 203, 0.4);
    // -webkit-box-shadow: 1px 8px 21px 4px rgba(255, 192, 203, 0.4);
    // -moz-box-shadow: 1px 8px 21px 4px rgba(255, 192, 203, 0.4);
  }
}

.display {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  height: inherit;
  opacity: 0.2;
  height: 300px;
  max-width: 100%;
  &:hover {
    opacity: 0.7;
    transition: 700ms;

    & + .project-title {
      opacity: 0;
      transition: 600ms;
    }
  }
}

.project-title {
  z-index: -1;
  position: relative;
  bottom: 85%;
  padding: 0 1.8rem;
  color: rgb(71, 68, 68);
  max-height: 0px;
  h4 {
    font-size: 30px;
  }
}

.technos-used {
  font-size: 30px;
  color: rgb(11, 173, 157);
}

.visit-me {
  background-color: rgb(11, 173, 157);
  border: none;
  border-radius: 20px;
  width: 40%;
  position: relative;
  bottom: 55%;
  align-self: center;
  cursor: pointer;
  padding: 10px;
}

.website-link {
  text-decoration: none;
  height: 300px;
  border-radius: inherit;
}
